Ao pedir para criar algo no supabase você deve:
- Certificar-se que o conteúdo ainda não existe para evitar duplicitade.
- Conferir os códigos antes de serem gerados para evitar erros
- Informar de forma clara quando, onde e de que forma o código deve ser usado
- Após concluir o passo de utilizar o sql o mesmo deve ser deletado para não ocupar espaço desnecessário e não confundir arquivo local com dados do supabase.

IMPORTANTE:
- Sempre conferir informações sobre api na documentação oficial do Spotify API: https://developer.spotify.com/documentation/web-api

- Sempre conferir informações sobre o supabase em https://supabase.com/docs

- Sempre garantir a organização do código, criando pastas e arquivos de forma adequada.

- Sempre comentar o código para facilitar a compreensão.

- Sempre garantir que o código seja escrito em português brasileiro.

- Esse projeto não pode ser testado localhost, devido á falta de https

- Nosso projeto ficará em: https://juke-seven.vercel.app/